.nameplate-short
{
	font-family: 'Formula1 Display Regular';
	background-color: black;
	color: white;

	display: flex;
	align-items: center;

	padding: .35rem;

	width: 25rem;

	border-radius: .1rem;
	border-bottom-right-radius: .75rem;
}

.grid
{
	background-color: white;
	color: black;

	width: 2.25rem;
	height: 2.25rem;

	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom-right-radius: .35rem;

	font-size: 1.1rem;
}

.driver .lastname
{
	font-weight: bold;
}

.driver .team
{
	font-size: .8rem;
}

.team-separator
{
	margin: 0 .3rem;
	width: .2rem;
	height: 1.7rem;
}

.callsign
{
	display: flex;
	flex-grow: 1;
	text-align: center;
	justify-content: right;
}

.callsign .number
{
	font-size: 1.2rem;
	font-style: italic;
}

.callsign .abbr
{
	font-size: .75rem;
}

/* #region back color */

.bc-mercedes
{
	background-color: rgb(0, 210, 190);
}

.bc-ferrari
{
	background-color: rgb(220, 0, 0);
}

.bc-redbull
{
	background-color: rgb(30, 65, 255);
}

.bc-renault
{
	background-color: rgb(255, 245, 0);
}

.bc-haas
{
	background-color: rgb(240, 215, 135);
}

.bc-tororosso
{
	background-color: rgb(70, 155, 255);
}

.bc-mclaren
{
	background-color: rgb(255, 135, 0);
}

.bc-alfaromeo
{
	background-color: rgb(155, 0, 0);
}

.bc-williams
{
	background-color: rgb(255, 255, 255);
}

.bc-racingpoint
{
	background-color: rgb(245, 150, 200);
}

/* #endregion */

/* #region color */

.c-mercedes
{
	color: rgb(0, 210, 190);
}

.c-ferrari
{
	color: rgb(220, 0, 0);
}

.c-redbull
{
	color: rgb(30, 65, 255);
}

.c-renault
{
	color: rgb(255, 245, 0);
}

.c-haas
{
	color: rgb(240, 215, 135);
}

.c-tororosso
{
	color: rgb(70, 155, 255);
}

.c-mclaren
{
	color: rgb(255, 135, 0);
}

.c-alfaromeo
{
	color: rgb(155, 0, 0);
}

.c-williams
{
	color: rgb(255, 255, 255);
}

.c-racingpoint
{
	color: rgb(245, 150, 200);
}

/* #endregion */
