$teams: (
	("mercedes",	#00d2be),
	("ferrari",		#dc0000),
	("redbull",		#0600ef),
	("alpine",		#0090ff),
	("haas",		#ffffff),
	("alphatauri",	#2b4562),
	("williams",	#005aff),
	("astonmartin",	#006f62),
	("alfaromeo",	#900000),
	("mclaren",		#ff8700)
);

@each $team in $teams
{
	.#{nth($team, 1)}-bg
	{
		background-color: nth($team, 2);
	}

	.#{nth($team, 1)}-text
	{
		text-shadow: 0 0 7px nth($team, 2), 0 0 7px nth($team, 2);
		// color: nth($team, 2);
	}
}