@font-face {
	font-family: 'f1-regular';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-italic';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1RegularItalic/Formula1-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-bold';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-black';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Black/Formula1-Black.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-wide';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Wide/Formula1-Wide.woff2') format('woff2');
}

@font-face {
	font-family: 'f1-year';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1YEAR/F1YEARRegular.woff2') format('woff2');
}