&
{
	margin-bottom: $b * .5;
	font-family: 'Formula1 Display';
	display: flex;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: $b * .3;
	@include rad-border;

	width: $b * $nameplate-multiplier;

	// For the country flag to be clipped in the corner.
	overflow: hidden;
	position: relative;
}

.grid
{
	color: rgb(0, 0, 0);

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: $b * 1.75;

	@include rad-border;

	span
	{
		transform: scaleX(.8);
	}
}

.separator
{
	margin: 0 $b * .4;
	width: $b * .25;

	div
	{
		height: 70%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.driver
{
	line-height: 1;
	margin: $b * .2 0 $b * .4;
	letter-spacing: .75px;

	.name
	{
		font-size: $b * 1.325;
		margin-bottom: $b * .25;

		.firstname
		{
			padding-right: $b * 0.35;
		}
	
		.lastname
		{
			font-weight: bold;
			text-transform: uppercase;
		}

		.number
		{
			font-style: italic;
			margin-left: $b;
		}
	}

	.constructor
	{
		font-size: $b * .9;
	}

}

.ident
{
	width: $b * 3;
	text-align: center;
	margin-left: auto;
	
	.number
	{
		font-size: $b * 1.5;
		font-style: italic;
	}

	.abbreviation
	{
		font-size: $b * .8;
		text-transform: uppercase;
	}
}

.driver-nationality
{
	// To position the child element.
	position: relative;

	width: $b*7;
	height: 80%;
	background-position: center;
	// background-size: cover;
	background-repeat: no-repeat;

	opacity: .75;

	clip-path: polygon(45% 0, 0 100%, 55% 100%, 100% 0);

	.secondary-overlay
	{
		background-image: linear-gradient(to top right, transparent 0%, rgba(0, 0, 0, 1) 100%);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		clip-path: polygon(80% 0, 35% 100%, 55% 100%, 100% 0);
	}

	.shadow
	{
		position: absolute;
		background-color: black;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		clip-path: polygon(80% 0, 33% 100%, 37% 100%, 80% 0);
	}
}

.flag-container
{
	position: absolute;
	height: 100%;
	right: 0;
	display: flex;
	align-items: center;

	// To counter the padding of the nameplate.
	margin: -1 * $b * .3;
	margin-left: auto;
}