&
{
	margin-bottom: $b * .5;
	font-family: 'Formula1 Display';
	display: flex;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: $b * .3;
	@include rad-border;

	width: $b * $nameplate-multiplier;
}

.grid
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: $b * 1.75;

	@include rad-border;

	span
	{
		transform: scaleX(.8);
	}
}

.separator
{
	margin: 0 $b * .4;
	width: $b * .25;

	div
	{
		height: 70%;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.driver
{
	line-height: 1;
	margin: $b * .2 0 $b * .4;
	letter-spacing: .75px;

	.name
	{
		font-size: $b * 1.325;
		margin-bottom: $b * .25;

		.firstname
		{
			padding-right: $b * 0.35;
		}
	
		.lastname
		{
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.constructor
	{
		font-size: $b * .9;
	}

}

.ident
{
	width: $b * 3;
	text-align: center;
	margin-left: auto;
	
	.number
	{
		font-size: $b * 1.5;
		font-style: italic;
	}

	.abbreviation
	{
		font-size: $b * .8;
		text-transform: uppercase;
	}
}