*
{
	outline: 1px solid red;
}

@mixin rad-border
{
	border-radius: $b * .1;
	border-bottom-right-radius: $b * .7;
}

$b: 16px;
$nameplate-multiplier: 30;

.f1
{
	&.nameplate-short
	{
		@import "_colors";
		@import "_nameplate-short";
	}
}